.footer {
  width: 100%;
  background-color: #212521;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

span {
  color: #fff;
  font-family: "Edo", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: auto 0px;
}

.copyright-icon {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin: auto 5px;
}

@media only screen and (max-width: 620px) {
}
