.card-container {
  width: 60%;
  height: 80%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin: 2% auto;
}

.card {
  width: 65vw;
  height: 50vh;
  overflow: hidden;
  transition: all .5s;

  &:hover .bottom-component{
    margin-top: 0%;
    transition: all 0.5s;
  }
}

#div-img-product {
  display: flex;
  justify-content: center;
  width: 15vw;
  height: 45vh;
  margin: 2% auto;
}
#div-img-product img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: right;
  object-fit: fill;
  object-position: center;
  transform: rotate(1deg);
}

.card-title {
  font-size: 50px;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  box-shadow: 0 3px 4px 2px;
  margin-top: 3%;
}
.card-text {
  text-align: justify;
  font-family: "Libre Baskerville", serif;
  padding: 5px;
  margin-top: 4%;
}
a {
  text-decoration: none;
  color: #212529;

  &:hover {
    text-decoration: none;
    color: #212529;
  }
}
.bottom-component {
  margin-top: 100%;
  display: flex;
  justify-content: space-evenly;
}

.price-div {
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin: 3%;

  button {
    background-color: #077c16;
    border-radius: 10px;
    transition: all 0.4s;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 4px 5px rgba($color: #686666, $alpha: 0.5);
    }
  }
}

@media only screen and (max-width: 620px) {
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }
  .card {
    width: 90%;
    height: 80%;
  }

  // #root > div:nth-child(2) > div.home-container > div > div:nth-child(even) > div > div{
  //     #div-img-product{
  //         display: flex;
  //         justify-content: center;
  //         width: 80%;
  //         height: 100%;
  //         margin: 2% auto;

  //     }
  //     #div-img-product img {
  //         width: 100%;
  //         height: 100%;
  //         display: flex;
  //         justify-items: right;
  //         object-fit: fill;
  //         object-position: center;
  //     }
  //     .card-title{
  //         font-size: 50px;
  //         text-align: center;
  //         font-family:'Libre Baskerville', serif;
  //         text-decoration: underline;
  //     }

  // }

  #div-img-product {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: 2% auto;
  }
  #div-img-product img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: right;
    object-fit: fill;
    object-position: center;
    transform: rotate(1deg);
  }
  .card-title {
    font-size: 50px;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    text-decoration: none;
  }
  .card-text {
    text-align: justify;
    font-family: "Libre Baskerville", serif;
    padding: 5px;
    margin-top: 3px;
  }
  a {
    text-decoration: none;
    color: #212529;

    &:hover {
      text-decoration: none;
      color: #212529;
    }
  }

  .price-div {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: 3%;

    button {
      background-color: #077c16;
      border-radius: 10px;
      transition: all 0.4s;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 4px 5px rgba($color: #686666, $alpha: 0.5);
      }
    }
  }
}
