.card-container {
  width: 60%;
  height: 80%;
  margin: 2% auto;
}

.card {
  width: 50%;
  height: 50vh;
  overflow: hidden;
  transition: all 0.5s;
  margin: 2% auto;
  border-radius: 0 15px;

  &:hover {
    width: 100%;
  }

  &:hover .bottom-component {
    opacity: 1;
    transition: all 0.4s;
  }

  &:hover #div-img-product::before{
    content: '';
  }

  &:hover #div-img-product img{
    background: linear-gradient(#4C6731, #fff);
    transform: skew(0deg, 0deg);
    box-shadow: 0 0 4px 5px rgba($color: #494848, $alpha: 0.5);
  }
}

#div-img-product {
  display: flex;
  justify-content: center;
  width: 18vw;
  height: 45vh;
  margin: 2% auto;
  border-radius: 15px;

  &::before {
    content: "Ecowax";
    width: 60%;
    font-size: 50px;
    font-family: "Edo", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: right;
  }

}
#div-img-product img {
  width: 90%;
  height: 100%;
  display: flex;
  justify-items: right;
  object-fit: fill;
  object-position: center;
  transform: rotate(360deg);
  background: #4C6731;

}



.card-title {
  font-size: 30px;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  box-shadow: 0 3px 4px 2px;
  margin-top: 3%;
  width: 80%;
}
.card-text {
  text-align: justify;
  font-family: "Libre Baskerville", serif;
  padding: 5px;
  margin-top: 4%;
  width: 80%;

  small{
    display: flex;
    justify-content: center;
  }
}
a {
  text-decoration: none;
  color: #212529;

  &:hover {
    text-decoration: none;
    color: #212529;
  }
}
.bottom-component {
  display: flex;
  justify-content: space-between;
  transition: all 0.4s;
  opacity: 0;
  display: flex;
  justify-content: center;
  width: 50%;
}

.price-div{
  display: flexbox;
  justify-content: center;
  align-items: center;
  margin: 3%;
  transition: all 0.4s;
  width: max-content;

  button {
    background-color: #077c16;
    border-radius: 10px;
    transition: all 0.4s;

    &:hover {
      transform: scale(1.1);
      color: #fff;
      box-shadow: 0 0 4px 5px rgba($color: #686666, $alpha: 0.5);
    }
  }
}


//SMALLER SCREEN STYLES//

@media only screen and (max-width: 600px) {
  .card-container {
    width: 100%;
    height: 80%;
    margin: 2% auto;
  }
  
  .card {
    width: 95%;
    height: 40vh;
    overflow: hidden;
    transition: all 0.5s;
    margin: 2% auto;
    border-radius: 0 15px;
  
    &:hover {
      width: 100%;
    }
    &:hover #div-img-product{
      width: 20%;
      height: 20%;
      display: flex;
      justify-content: right;
      align-items: right;
    }
    
    &:hover #div-img-product::before{
      content: '';
      width: 0%;
      height: 0%;
    }

    &:hover #div-img-product img{
      width: 30%;
      height: 40%;
      padding: 0 4%;
      object-position: center;
      object-fit: fill;
      margin: 5% auto;
      position: absolute;
      top: 1%;
      right: 2%;
  
      background: linear-gradient(#4C6731, #fff);
      transform: skew(0deg, 0deg);
      box-shadow: 0 0 4px 5px rgba($color: #494848, $alpha: 0.5);
    }

    &:hover .card-title {
      font-size: 15px;
      text-align: center;
      font-family: "Libre Baskerville", serif;
      box-shadow: 0 3px 4px 2px;
      width: 65%;
      position: absolute;
      top: 3%;
      width: 60%;
      opacity: 1;
    }

    &:hover .card-text{
      width: 65%;
      text-align: justify;
      opacity: 1;
    }

    &:hover .bottom-component {
      opacity: 1;
      transition: all 0.4s;
      width: 90%;
      margin-top: 5%;
    }
  }
  
  #div-img-product {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin: 2% auto;
    border-radius: 15px;
  
    &::before {
      content: "Ecowax";
      width: 60%;
      font-size: 30px;
      font-family: "Edo", sans-serif;
      font-weight: 500;
      letter-spacing: 1px;
      color: rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: right;
    }
  
  }
  #div-img-product img {
    width: 70%;
    height: 80%;
    padding: 0 4%;
    object-position: center;
    object-fit: fill;
    margin: 5% auto;
    margin-right: 3%;
    display: flex;
    justify-items: right;
    object-fit: fill;
    object-position: center;
    transform: rotate(360deg);
    background: #4C6731;
  
  }

  .card-title {
    font-size: 15px;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    box-shadow: 0 3px 4px 2px;
    width: 65%;
    opacity: 0;
  }
  .card-text {
    text-align: justify;
    font-family: "Libre Baskerville", serif;
    padding: 5px;
    margin-top: 2%;
    width: 80%;
    font-size: 10px;
    font-family: 'Edo', sans-serif;
    opacity: 0;

  
    span{
      display: flex;
      justify-content: center;
    }
  }
  a {
    text-decoration: none;
    color: #212529;
  
    &:hover {
      text-decoration: none;
      color: #212529;
    }
  }
  .bottom-component {
    display: flex;
    justify-content: space-between;
    transition: all 0.4s;
    opacity: 0;
    display: flex;
    justify-content: center;
    width: 50%;
  }
  
  .price-div{
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: 3%;
    transition: all 0.4s;
    width: max-content;
  
    button {
      background-color: #077c16;
      border-radius: 10px;
      transition: all 0.4s;
      color: #fff;
  
      &:hover {
        transform: scale(1.1);
        color: #fff;
        box-shadow: 0 0 4px 5px rgba($color: #686666, $alpha: 0.5);
      }
    }
  }
}
