@import "~video-react/styles/scss/video-react";

.video-container{
    width: 55%;
    margin: 5% auto;

}

.video{
    width: 95%;
    height: 30%;
    margin: 0 5px;
}


@media only screen and (max-width: 600px){
    .video-features{
        padding-top: 3%;
    }
    
    .video-container{
        width: 88%;
        margin: 5% auto;
        margin-top: 15%;
    
    }
    
    .video{
        width: 95%;
        height: 30%;
        margin: 0 5px;
    }
}